<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue</title>
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="vue">
		<ul>
			<li v-for="todo in todos" v-if="!todo.isComplete">
				{{todo}}
			</li>
		</ul>
		<!-- 上面的代码只传递了未完成的todos。 -->

		<!-- 而如果你的目的是有条件地跳过循环的执行，那么可以将v-if至于外层元素（或<template>中）。 -->
		<ul v-if="todos.length">
			<li v-for="todo in todos">
				{{todo}}
			</li>
		</ul>
		<p v-else>No todos left!</p>
	</div>

	<script>
	//当他们处于统一节点，v-for的优先级比v-if更高，这意味着v-if将分别重复运行于每个v-for循环中。当你想为仅有的一些项渲染节点时，这种优先级的机制会十分有用。
		var vm = new Vue({
			el:"#vue",
			data:{
				todos: [1,2,3,4,5]
			},
			methods:{

			},
			computed:{

			}
		})
	</script>
</body>
</html>