<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue</title>
	<script src="js/vue.js"></script>
</head>
<body>
	<div id="vue">
		<input type="text" v-model.lazy='message' placeholder='edit me'>
		<p>Message is : {{message}}</p>

		<!-- 复选框 -->
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>

		<!-- 多个复选框，绑定到同一个数组： -->
		<div id="example-3">
			<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
			<label for="jack">Jack</label>
			<input type="checkbox" id="john" value="John" v-model="checkedNames">
			<label for="john"> John </label>
			<input type="checkbox" id="mike" value="mike" v-model="checkedNames"> 
			<label for="mike"> Mike </label>
			<br>
			<span>Checked names: {{ checkedNames }}</span>
		</div>

		<!-- 单选按钮 -->
		<div>
			<input type="radio" id="one" value="One" v-model="picked">
			<label for="one">One</label>
			<input type="radio" id="two" value="Two" v-model="picked">
			<label for="two"> Two</label>
			<br>
			<span>Picked: {{picked }}</span>
		</div>

		<!-- 选择框 -->
		<div>
			<select v-model="selected">
				<!-- disabled 属性规定某个选项应该被禁用。被禁用的选项既不可用，也不可点击。 -->
				<option value="" disabled>请选择</option>
				<option>A</option>
				<option>B</option>
				<option>C</option>
			</select>
			<span>Selected: {{ selected }}</span>
		</div>

		<div>
			<select v-model="selecteda" multiple>
				<!-- disabled 属性规定某个选项应该被禁用。被禁用的选项既不可用，也不可点击。 -->
				<option value="" disabled>请选择</option>
				<option>A</option>
				<option>B</option>
				<option>C</option>
			</select>
			<span>Selecteda: {{ selecteda }}</span>
		</div>

		<!-- 用v-for渲染的动态选项： -->
		<select v-model="selectedb" id="">
			<option v-for='optionb in optionsb' :value='optionb.value'>
				{{optionb.text}}
			</option>
		</select>
		<span>Selectedb: {{selectedb}}</span>
		<br>

		<!-- 对于单选按钮，复选框及选择框的选项，v-model绑定的值通常是静态字符串（对于复选框也可以是布尔值） -->

		<!-- 当选中时，‘picked’ 的值为字符串‘a’ -->
		<input type="radio" id="danxuankuang" v-model='picked' value="aaa">
		<label for="danxuankuang">单选框</label>
		<br>
		
		<!-- ‘toggle’为true或false -->
		<input type="checkbox" id="fuxuankuang" v-model='toggle'>
		<label for="fuxuankuang">复选框</label>
		<br>

		<!-- 当选中第一个选项时，selected为 字符串‘abc' -->
		<select v-model='selectedc' id="">
			<option value="abc">ABC</option>
		</select>

		<!-- 但是有时候我们可能想把值绑定到Vue实例的一个动态属性上，这是可以用v-bind实现，并且这个属性的值可以不是字符串。 -->
		<br>

		<!-- v-model  修饰符： -->
		<!-- .lazy 在默认情况下，v-model在每次input事件触发后将输入框的值与数据进行同步。你可以添加lazy修饰符，从而转变为使用change事件进行同步。 -->
		<!-- 在’change‘时而非’input‘时更新 -->
		<input v-model.lazy='msg'>

		<!-- .number 自动将用户输入的值转为数字类型。 -->
		<input type="number" v-model.number='age'>

		<!-- .trim 自动过滤用户输入的首尾空白字符 -->
		<input v-model.trim='msg'>
	</div>

	<script>
		//v-modal在表单元素上创建双向数据绑定。他会根据空间类型自动选取正确的方法来更新元素。
		//v-modal会忽略所有表单元素的value、checked、selected特性的初始值而总是将Vue实例的数据作为数据来源。你应该通过js在组件的data选项中声明初始值。
		var vm = new Vue({
			el:"#vue",
			data:{
				message:'',
				checked: 'false',
				checkedNames: [],
				picked: '',
				selected: '',
				selecteda: [],
				selectedb: 'A',
				optionsb: [
					{text: 'One', value: 'A'},
					{text: 'Two', value: 'B'},
					{text: 'Three', value:'C'}
				],
				pickde: '',
				toggle: '',
				selectedc: '',
				msg: '',
				age: ''
			},
			methods:{

			},
			computed:{

			}
		})
	</script>
</body>
</html>